.calcBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.inputScreen {
    border: 2px solid black;
    height: 100px;
    width: 510px;
    max-width: 90%;
}
button {
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.buttons {
    display: flex;
    justify-content: center;
}
.numbers {
    display: flex;
    max-width: 309px;
    flex-wrap: wrap;
    gap: 3px;
}
.operators {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 512px;
    gap: 3px;
}
#equal {
    flex: 1;
}