html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calcBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputScreen {
    border: 2px solid black;
    height: 100px;
    width: 514px;
}
button {
    height: 100px;
    width: 100px;
    font-size: 30px;
}
.buttons {
    display: flex;
    justify-content: center;
    width: 516px;
    height: 516px;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 308px;
}
.operators {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#equal {
    flex: 1;
}
.calcBody, .buttons, .numbers, .operators {
    gap: 4px;
}